.root {
    li {
        display: inline-block;
        margin-right: 10px;
        width: 45px;
        height: 45px;

        :hover {
            background-color: #fe5f1e;
            opacity: 0.5;
            color: #fff;
        }
        a {
            border: 1px solid #fe5f1e;
            border-radius: 30px;
            margin-right: 10px;
            cursor: pointer;
            width: 45px;
            height: 45px;
            text-align: center;
            line-height: 40px;
            display: inline-block;
            color: #fe5f1e;
            width: 100%;
            height: 100%;
        }
    }
    :global {
        .selected {
            a {
                background-color: #fe5f1e;
                color: #fff;
            }
        }
    }
}